@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #34b4b4;
}

html {
    font-size: 1rem;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 18rem 1fr 25rem;
    grid-template-rows: 12rem 1fr;

    height: 100vh;
}

.input {
    appearance: none;

    padding: 0;
    padding-bottom: 0.5rem;

    color: #000;
    font-size: 1.2rem;
    font-family: inherit;

    border: 0;
    border-bottom: 3px solid #dcdbdb;
    background-color: transparent;
    outline: none;

    transition: border 0.2s linear;  
}

.input:focus {
    outline: 0.2rem solid var(--main-color);
    outline-offset: 0.4rem;
    border-color: var(--main-color);
}

.input::placeholder {
    color: #dcdbdb;
}

/* logo ========================== */

.logo {
    background: url('./images/text.jpg') no-repeat center;
    background-size: cover;
}

.logo__letter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: #34b4b4e6;

    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
}

/* header ======================== */

.header {
    padding: 0 5rem;
    
    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name {
    font-size: 4rem;
    font-weight: 300;
    color: #2b2b2b;
    text-decoration: none;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__btn {
    padding: 0;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    color: #899c97;
    text-transform: uppercase;

    border: none;
    background: transparent;

    cursor: pointer;

    transition: color .2s linear;
}

.header__btn.active {
    color: var(--main-color);
}

.header__btn:focus {
    outline: 0.2rem solid var(--main-color);
    outline-offset: 0.3rem;
}

.header__btn:hover  {
    color: var(--main-color);
}

.division {
    display: inline-block;

    height: 2.7rem;
    width: 0.1rem;

    background: #c0c7c5;

    transform: rotate(30deg);
}

.header__input {
    display: grid;
    grid-template-areas: 'search';
    align-items: center;
}

.input_search {
    padding-right: 2rem;
    width: 15rem;

    grid-area: search;
}

.icon_search {
    grid-area: search;
    justify-self: end;

    width: 1.5rem;
    height: 1.5rem;

    fill: #dcdbdb;

    transform: rotateY(180deg);

    transition: fill 0.2s linear;
}

.input_search:focus + .icon_search {
    fill: var(--main-color)
}

.input_search::-webkit-search-cancel-button {
    display: none;
}

/* nav =========================== */

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;

    padding: 2rem 0 0 1.5rem;

    background-color: #000;
}

.nav__header {
    margin-bottom: 2rem;
    padding-left: 1rem;
    
    font-size: 1rem;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__block:first-child .nav__header {
    margin-bottom: 1rem;
}

.nav__btn {
    padding-left: 1rem;

    width: 100%;

    font-family: inherit;
    color: #fff;
    text-transform: capitalize;
    text-align: left;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.nav__btn_browse {
    position: relative;
    padding: 1rem;

    font-size: 1.5rem;

    overflow: hidden;

    transition: background 0.1s linear, color 0.1s linear;
}

.nav__btn_browse.active {
    color: #000;
    background-color: #fff;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.nav__btn_browse::before {
    display: block;
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0.3rem;

    background-color: transparent;

    transition: background 0.1s linear;
}

.nav__btn_browse.active::before {
    background-color: var(--main-color);
}

.nav__btn_circle {
    font-size: 1.3rem;
    
    display: flex;
    align-items: center;

    margin-bottom: 1rem;

    transition: color 0.2s linear;
}

.nav__btn_circle.active {
    color: var(--main-color);
}

.nav__btn_circle:last-child {
    margin-bottom: 0;
}

.nav__btn_circle::before {
    display: inline-block;

    content: '';

    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;

    background-color: transparent;
    border-radius: 50%;
}

.nav__btn_circle:nth-of-type(1)::before {
    border: 0.3rem solid #cd2d35;
}

.nav__btn_circle:nth-of-type(2)::before {
    border: 0.3rem solid #2f6bd2;
}

.nav__btn_circle:nth-of-type(3)::before {
    border: 0.3rem solid #6ee440;
}

.nav__btn_bookmark {
    margin-bottom: 1rem;
}

.nav__btn_bookmark:last-child {
    margin-bottom: 0;
}

.nav__book-name {
    margin-bottom: 0.2rem;
    
    font-size: 1.2rem;
    color: #fff;

    transition: color 0.2s linear;
}

.nav__btn_bookmark.active .nav__book-name {
    color: var(--main-color);
}

.nav__book-author {
    font-size: 1rem;
    color: #91918b;
}

.nav__btn_bookmark.active .nav__book-author {
    color: #a9e6e6;
}

/* books =================== */

.books {
    padding: 0 5rem 5rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-auto-rows: auto;
    gap: 5rem;

    overflow-y: auto;
}

.books__card {
    position: relative;
}

.books__card_active .books__img-container,
.books__img-container:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.books__card_active .books__img,
.books__img-container:hover .books__img {
    transform: scale(1.2);
    filter: blur(0.1rem);
}

.books__img-container {
    aspect-ratio: 2 / 3;

    position: relative;
    margin-bottom: 1rem;
    
    overflow: hidden;

    transition: background 0.4s ease-in;
}

.books__img {
    aspect-ratio: 2 / 3;
    
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

    transition: transform 0.4s ease-in;
}

.books__buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2 ,auto);
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
    height: 100%;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.4s ease-in;
}

.books__card_active .books__buttons,
.books__img-container:hover .books__buttons {
    opacity: 1;
    visibility: visible;
}

.books__button {    
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;

    display: grid;
    place-content: center;

    border: 0.3rem solid #fff;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;

    cursor: pointer;

    transition: background 0.2s linear;
}

.books__button:hover {
    background-color: #fff;
}

.books__button:hover .books__icon {
    fill: #000;
}

.books__button_info {
    grid-column: 1 / -1;
    justify-self: end;
}

.books__button_info_active {
    background-color: #fff;
}

.books__button_bookmark_active {
    background-color: #fff;
}

.books__button_read {
    grid-template-areas: 'read';
    
    width: 5rem;
    height: 5rem;

    background-color: #fff;
}

.books__button_read:hover {
    background-color: var(--main-color);
}

.books__button_read:hover 
.books__icon_read {
    fill: #fff;
}

.books__button_read:hover 
.books__icon_play {
    fill: var(--main-color);
}

.books__button_checked {
    background-color: #fff;
}

.books__icon {
    width: 2rem;
    height: 2rem;

    fill: #fff;
}

.books__icon_read {
    grid-area: read;
    
    width: 2.5rem;
    height: 2.5rem;

    fill: var(--main-color);
}

.books__icon_play {
    grid-area: read;
    place-self: center;

    width: 1.2rem;
    height: 1.2rem;

    position: relative;
    top: -0.1rem;
    left: 0.1rem;
}

.books__icon_checked {
    fill: #000;
}

.books__icon_bookmark {
    position: relative;
    top: -0.8rem;
}

.books__button_bookmark_active
.books__icon_bookmark {
    fill: #c81919 !important;
}

.books__button_info_active .books__icon_info {
    fill: #000;
}

.books__name {
    font-size: 1.3rem;
    color: #000;
    line-height: 1.5;
    font-weight: 500;
}

.books__author {
    font-size: 1rem;
    color: #899c97;
}

/* aside =================== */

.aside {
    grid-column: -2 / -1;
    grid-row: 1/ -1;

    display: flex;
    flex-direction: column;
}

.aside__reading {
    padding: 4rem 2.5rem 2.5rem;

    background-color: #5c5c5a;
}

.aside__header {
    margin-bottom: 2rem;
    
    font-size: 1rem;
    color: #c3c2c2;
    font-weight: 600;
    text-transform: uppercase;
}

.aside__bookname {
    margin-bottom: 0.5rem;
    
    font-size: 2.7rem;
    color: #fff;
    font-weight: 300;
    line-height: 1;
}

.aside__author {
    font-size: 1rem;
    color: #dcdbdb;
}

.aside__progress-info {
    padding: 1rem 2.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
        
    background-color: #484843;
}

.aside__percent {
    padding: 0.7rem;
    
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;

    background-color: #5c5c5c;
    border-radius: 0.4rem;
}

.aside__progress {
    flex: 1;

    height: 0.5rem;
    
    appearance: none;
    border-radius: 0.2rem;
    overflow: hidden;
}

.aside__progress::-webkit-progress-bar {    
    background-color: #5c5c5a;
}

.aside__progress::-webkit-progress-value {
    background-color: #fff;
}

.aside__discussion {
    flex: 1;

    padding: 0 2.5rem;

    background-color: #dcdbdb;

    overflow-y: auto;
}

.aside__discussion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2.5rem;
    padding: 2.5rem 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    font-size: 1rem;
    color: #848482;
    font-weight: 500;
    text-transform: uppercase;

    background-color: #dcdbdb;
    border-bottom: 3px solid #acacac;
}

.aside__select {
    display: grid;
    align-items: center;
    grid-template-areas: 'select';
}

.aside__select::after, 
.aside__select-inner {
    grid-area: select;
}

.aside__select::after {
    content: '';

    width: 0.9rem;
    height: 0.7rem;
    justify-self: end;

    background-color: #acacac;
    cursor: pointer;
    
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.aside__select-inner {
    appearance: none;

    padding-right: 2rem;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: right;

    background-color: transparent;
    border: none;
    cursor: pointer;

    position: relative;
}

.aside__comment-block {
    margin-bottom: 1.5rem;
}

.aside__comment {
    display: flex;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

.aside__comment-text {
    margin: 0;
    padding: 0;

    font-size: 1.1rem;
    line-height: 1.4;
}

.aside__commenting {
    padding: 2.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    
    background-color: #5c5c5a;
}

.avatar {
    border-radius: 50%;

    transition: border 0.2s linear;
}

.avatar_aside {
    width: 3rem;
    height: 3rem;
    
}

.avatar:hover {
    border: 0.2rem solid var(--main-color);
}

.input_aside {
    width: 100%;

    color: #fff;
}

/* scrollbars =================== */

.books::-webkit-scrollbar,
.aside__discussion::-webkit-scrollbar {
    width: 0.9rem;
}

.books::-webkit-scrollbar-thumb,
.aside__discussion::-webkit-scrollbar-thumb {
    display: block;
    
    background-color: #9a9a9a;
    border-radius: 0.6rem;
}

.books::-webkit-scrollbar-thumb:hover,
.aside__discussion::-webkit-scrollbar-thumb:hover {
    background-color: #505050; 
}

.books::-webkit-scrollbar-thumb:active,
.aside__discussion::-webkit-scrollbar-thumb:active {
    background-color: #2b2b2b;
}

/* books info popup =================== */

.books__info {
    display: block;
    
    position: absolute;
    top: 0;
    z-index: -100;

    width: 26rem;

    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.7rem;
    opacity: 0;

    transition: opacity 0.2s linear;
}

.books__info_right {
    left: calc(100% + 2.5rem);
}

.books__info_left {
    right: 8rem;
}

.books__info_active {
    z-index: 1000000;
    
    opacity: 1;
}

.books__info_right::after,
.books__info_left::after {
    content: '';

    display: block;

    position: absolute;
    top: 2rem;
    
    width: 3rem;
    height: 3rem;

    background-color: rgba(0, 0, 0, 0.9);
}

.books__info_right::after {
    right: 100%;

    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
}

.books__info_left::after {
    left: 100%;

    clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

.books__summary {
    padding: 1.5rem;

    border-bottom: 0.2rem solid rgba(55, 55, 55, 0.8);
}

.books___summary-header {
    font-size: 1.2rem;
    color: #5c5c5a;
    text-transform: uppercase;
}

.books__summary-text {
    display: -webkit-box;
    margin: 0.8rem 0;

    font-size: 1.2rem;
    line-height: 1.6;
    color: #fff;

    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.books__recommends {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.2rem solid rgba(55, 55, 55, 0.8);
}

.books__recommends-text {
    font-size: 1.2rem;
    color: #5c5c5a;
    font-weight: 700;
    text-transform: uppercase;
}

.books__recommends-avatars {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
}

.avatar_recommends {
    width: 2.7rem;
    height: 2.7rem;
}

.books__control {
    display: flex;
    align-items: center;
}

.books__info-btn {
    padding: 1.5rem;

    background-color: transparent;
    border: none;
    cursor: pointer;    
}

.books__info-btn_upload {
    border-right: 0.2rem solid rgba(55, 55, 55, 0.8);
}

.books__info-btn_commentary {
    border-left: 0.2rem solid rgba(55, 55, 55, 0.8);
}

.books__rating {
    flex: 1;

    margin: -0.7rem;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
}

.books__star {
    margin: 0;
    padding: 0 0.35rem;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.icon_upload,
.icon_commentary,
.icon_star {
    width: 2rem;
    height: 2rem;
}

.icon_upload,
.icon_commentary {
    fill: #fff;

    transition: fill 0.2s linear;
}

.books__info-btn:hover .icon_upload,
.books__info-btn:hover .icon_commentary {
    fill: var(--main-color);
}

.icon_star {
    fill: transparent;
    stroke: #373737;

    transition: stroke 0.15s linear, fill 0.15s linear;      
}

.books__star:hover .icon_star {
    fill: #daa520;
    stroke: #daa520;
}

.icon_star_rate {
    fill: transparent;
    stroke: #daa520;
}

.icon_star_active {
    fill: #daa520;
    stroke: #daa520;
}